# Исключаем сырые csv и все левые parquet, но разрешаем нужные в папке data/raw
*.csv
*.parquet
!data/raw/*.parquet
!data/external/external_macro_data.csv

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# IDE и ОС
.idea/
.vscode/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
